body{
    background-color: #CCE2E4;
    padding:12%;
  }
  div {
    width:300px;
    background-color: #CCE2E4;
    margin: auto;
    padding:5px;
    border-color:#48A3A7;
    border-width: 8px;
    border-style: solid;
    border-radius:50px
  }
   h1{
      margin: 50px;
    } 
  form {
    margin:50px;
  }
  
  form label{
    display: block;
    margin: 0 0 3px;
  }
  
  form input{
    display: block;
    margin: 0 0 10px;
    padding:5px;
  }
  .start{
    background-color:#48A3A7;
  }